#home {
	display: flex;
	flex-direction: column;
}

.profile {
	display: block;
	width: 30%;
	height: 30%;
	min-height: 100px;
	margin: 70px auto;
	border-radius: 50%;
}

.intro {
	text-align: center;
	width: 90%;
	margin: 30px auto;
}

.name {
	margin-bottom: 20px;
	font-size: 2.3em;
	letter-spacing: 2px;
}

.hashtags {
	margin-top: 10px;
	text-transform: uppercase;
}

.scroll-down {
	text-align: center;
	margin-top: 40px;
}

.scroll-down-icon {
	font-size: 2em;
	cursor: pointer;
	color: rgba(0, 0, 0, 0.6);
}

.scroll-down-icon:hover {
	color: rgba(166, 43, 43);
}

/* Media Queries */
@media screen and (max-width: 370px) {
	.profile {
		margin: 35px auto;
		min-height: 100px;
	}
}

@media screen and (min-width: 750px) {
	.intro {
		width: 100%;
	}

	.scroll-down-icon {
		font-size: 2.5em;
	}

	#home {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		height: 100vh;
	}

	.profile {
		display: none;
	}

	.name {
		margin-bottom: 65px;
		font-size: 5em;
	}

	.intro {
		margin-top: 100px;
		color: #fff;
	}

	.intro-text {
		line-height: 30px;
		letter-spacing: 1px;
		text-shadow: 2px 2px #000;
	}

	.hashtags {
		margin-top: 30px;
		text-shadow: 2px 2px #000;
	}

	.scroll-down {
		margin-top: -50px;
	}

	.scroll-down-icon {
		color: #fff;
	}

	.scroll-down-icon:hover {
		color: rgb(235, 102, 14);
	}
}
