@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;0,700;1,400&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Source Sans Pro", sans-serif;
}

#main {
	height: 100vh;
}

#main::after {
	content: "";
	background: url(/images/mobile-background.JPG);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: -999;
	opacity: 0.5;
}

/* media queries */
@media screen and (min-width: 750px) {
	#main::after {
		background: url(/images/background-img.jpg);
		background-size: cover;
		opacity: 0.9;
		filter: brightness(60%);
	}
}
